/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [NumberId]
      ,[NumberTypeId]
      ,[NumberWinLevelId]
      ,[LotNumber]
      ,[DatePublish]
      ,[DateCreated]
      ,[DateUpdated]
      ,[KyQuay]
  FROM [Lottery].[dbo].[Number]